

.texts-holder {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 60px;
}

.welcome-text {
  font-size: 50px;
  text-align: center;
}

.paragraphs {
  font-size: 26px;
  font-weight: 500;
  max-width: 650px;
  text-align: center;
}

.form-send-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-style {
  border: none;
  border-bottom: 1px solid black;
  width: 260px;
  height: 35px;
  margin-bottom: 30px;
  font-size: 16px;
}

.input-style:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

button:hover {
  transition: ease-in-out;
  transition-duration: 200ms;
  color: #00fb82cd;
}


