.texts-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0;
}

.welcome-text {
  font-size: 60px;
  text-align: center;
}

.paragraphs {
  font-size: 32px;
  font-weight: 500;
  width: 800px;
  max-width: fit-content;
  text-align: center;
}

.form-send-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-style {
  border: none;
  border-bottom: 1px solid black;
  width: 345px;
  height: 35px;
  margin-top: -15px;
  margin-bottom: 15px;
  font-size: 24px;
}

.input-style:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  padding: 5px;
}

.button-style:hover {
  transition: ease-in-out;
  transition-duration: 200ms;
  color: #21ef83;
}

.clear-button:hover {
  transition: ease-in-out;
  transition-duration: 200ms;
  color: red;
}

.total-spent-div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
}

.empty-table-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.add-invoice-p {
  color: #00b658;
}

td {
  padding: 10px;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.table-holder {
  display: flex;
  justify-content: center; /* Centralizar a tabela */
  margin-top: 20px;
  padding-bottom: 35px;
}

.table-style {
  width: 80%; /* Ajusta a largura da tabela */
  border-collapse: collapse; /* Remove espaços entre as bordas das células */
  margin: 0 auto; /* Centralizar a tabela */
}

.table-style th,
.table-style td {
  padding: 15px 20px; /* Espaçamento interno nas tds */
  text-align: center;
  border: 1px solid #898989; /* Borda fina entre as tds */
}

th {
  font-size: 30px;
}

td {
  font-size: 26px;
  cursor: pointer;
}

.alignTextCenter {
  text-align: center;
}

.table-style th {
  background-color: #66d985; /* Cor de fundo para o cabeçalho */
  font-weight: bold;
}

.table-style tr:hover {
  background-color: #f1f1f191; /* Efeito de hover para as linhas */
}

.details-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.details-table td,
.details-table th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.open {
  background-color: #f0f0f0;
}

.delete-button-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.delete-button {
  color: red; /* Deixa o texto do botão vermelho */
  text-align: center; /* Centraliza o texto dentro do botão */
  background-color: white; /* Tornar o fundo do botão transparente */
  cursor: pointer; /* Mostra o cursor de clique ao passar sobre o botão */
  border: 1px solid red;
  padding: 5px;
  border-radius: 5%;
}

.delete-button:hover {
  color: rgba(255, 0, 0, 0.712);
}

@media (max-width: 768px) {
  .welcome-text {
    padding: 0 30px;
  }

  .paragraphs {
    padding: 0 40px;
  }
}


@media (max-width: 650px) {
  .welcome-text {
    padding: 0 30px
  }

  .paragraphs {
    padding: 0 40px
  }
  .table-holder {
    overflow-x: auto; /* Para permitir scroll horizontal, se necessário */
  }

  .table-style {
    width: 80%; /* Reduzindo a largura da tabela para caber melhor na tela */
    font-size: 0.8em; /* Reduz o tamanho do texto */
  }

  .table-style th,
  .table-style td {
    padding: 6px 8px; /* Reduz o padding das células */
  }
}

@media (max-width: 560px) {
  .welcome-text {
    font-size: 40px;
  }

  .paragraphs {
    font-size: 26px;
  }

  .total-spent-div {
    font-size: 28px;
  }

  .button-style, .clear-button {
    font-size: 26px;
  }

  .table-holder {
    zoom: 80%;
  }
}

@media (max-width: 470px) {
  .table-holder {
    zoom: 70%;
  }
}

@media (max-width: 410px) {

  .input-style {
    width: 84.1%;
  }

  .table-holder {
    zoom: 60%;
  }
}

@media (max-width: 350px) {
  .total-spent-div {
    font-size: 24px;
  }

  .table-holder {
    zoom: 55%;
  }
}