.texts-holder {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 60px;
}

.welcome-text {
  font-size: 50px;
  text-align: center;
}

.paragraphs {
  font-size: 26px;
  font-weight: 500;
  max-width: 650px;
  text-align: center;
}

.form-send-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-style {
  border: none;
  border-bottom: 1px solid black;
  width: 260px;
  height: 35px;
  margin-top: -15px;
  margin-bottom: 30px;
  font-size: 16px;
}

.input-style:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

button:hover {
  transition: ease-in-out;
  transition-duration: 200ms;
  color: #21ef83;
}

td {
  padding: 10px;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.table-holder {
  display: flex;
  justify-content: center; /* Centralizar a tabela */
  margin-top: 20px;
}

.table-style {
  width: 80%; /* Ajusta a largura da tabela */
  border-collapse: collapse; /* Remove espaços entre as bordas das células */
  margin: 0 auto; /* Centralizar a tabela */
}

.table-style th,
.table-style td {
  padding: 15px 20px; /* Espaçamento interno nas tds */
  text-align: center;
  border: 1px solid #898989; /* Borda fina entre as tds */
}

th {
  font-size: 30px;
}

td {
  font-size: 26px;
  cursor: pointer
}


.table-style th {
  background-color: #66d985; /* Cor de fundo para o cabeçalho */
  font-weight: bold;
}

.table-style tr:hover {
  background-color: #eeeeee91; /* Efeito de hover para as linhas */
}
